@font-face {
    -fx-font-family: "Pixel Code Regular";
    src: url("../fonts/PixelCode.ttf");
}

@font-face {
    -fx-font-family: "Pixel Code Italic";
    src: url("../fonts/PixelCode-Italic.ttf");
}

@font-face {
    -fx-font-family: "Pixel Code DemiBold";
    src: url("../fonts/PixelCode-DemiBold.ttf");
}

.dialog-box {
    -fx-background-color: linear-gradient(to bottom right, #00ffbf, #00ddff);
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-font-size: 14;
    -fx-font-family: "Pixel Code Regular";
    fx-word-wrap: break-word;
}

.name-text {
    -fx-fill: linear-gradient(to bottom right, mediumblue, cyan);
    -fx-font-family: "Pixel Code DemiBold";
    -fx-effect: dropshadow(one-pass-box , black , 1, 1, 1, 1);
}

.italics {
    -fx-font-family: "Pixel Code Italic";
}

.todo-text {
    -fx-fill: brown;
}

.deadline-text {
    -fx-fill: darkred;
}

.event-text {
    -fx-fill: firebrick;
}

.done-mark {
    -fx-fill: goldenrod;
}

.todo-done-text {
    -fx-fill: forestgreen;
}

.deadline-done-text {
    -fx-fill: darkgreen;
}

.event-done-text {
    -fx-fill: green;
}

.tag-text {
    -fx-fill: linear-gradient(to bottom right, darkmagenta, deeppink);
    -fx-font-family: "Pixel Code Italic";
}

.error-text {
    -fx-fill: crimson;
    -fx-font-family: "Pixel Code DemiBold";
}

.warning-text {
    -fx-fill: orange;
    -fx-font-family: "Pixel Code DemiBold";
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    fx-word-wrap: break-word;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

