@font-face {
    -fx-font-family: "Pixel Code Regular";
    src: url("../fonts/PixelCode.ttf");
}

.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-background-image: url("../images/Background-Day.png"); /* Set image */
    -fx-background-size: 256px 256px;
    -fx-background-repeat: repeat;
}

.text-field {
    -fx-background-color: aliceblue;
    -fx-font-family: "Pixel Code Regular";
    -fx-font-size: 20;
}

.button {
    -fx-background-color: aqua;
    -fx-font-family: "Pixel Code Regular";
    -fx-font-size: 18;
}

.button:hover {
    -fx-background-color:cyan;
    -fx-font-size: 16px;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 18px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

